:root {
    --main-bg-color: whitesmoke;
    --main-text-color: #ffffff;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}
/* 
.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
} */


.card{
    position: relative;
}

.card .productNames h4{
    width: 100%;
    position: absolute;
    left: 10px;
}


  
.card h4{
    position: absolute;
    top: 10px;
    left: 10px;
}

